################################
###### Core dependencies #######
################################
torch==1.10.0
ai2-tango[all]==0.3.6
allennlp==2.8.0
git+https://github.com/bigscience-workshop/promptsource.git@v0.1.0#egg=promptsource
seqio==0.0.7
py7zr==0.16.2
t5==0.9.3
transformers==4.11.3
tqdm==4.62.2
